.advantages__list {
  @include list-refresh;
  display: flex;
  flex-wrap: wrap;
}

.advantages__link {
  display: block;
  border: 1px solid #ebebeb;
  border-left: 10px #00b2ff;

  &:hover,
  &:focus {
    background-color: #00b2ff;

    .advantages__desc {
      h3 {
        color: #ffffff;
      }

      p {
        color: #ffffff;
      }
    }
  }

  &:active {
    background-color: #00b2ff;

    .advantages__desc {
      h3 {
        color: #ffffff;
      }

      p {
        color: #ffffff;
      }
    }
  }
}

.advantages__desc {
  h3 {
    @include text-sets(24px, 33px);
    color: #00b2ff;

    @media (max-width: $width-laptop) {
      @include text-correct(20px, 28px);
    }
  }

  p {
    @include text-sets(16px, 21px);
    color: #666666;

    @media (max-width: $width-laptop) {
      @include text-correct(20px, 28px);
    }
  }
}
