.footer {
  background-color: #fafafa;
}

.footer__wrapper {
  padding: 3.1% 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: $width-desktop) {
    flex-direction: column;
    width: 100%;
    padding: 3.2% 0 0;
  }

  @media (max-width: $width-laptop) {
    padding: 15.2% 0 0;
  }
}

.footer__copyright {
  flex-grow: 2;
  width: 100%;
  padding: 0 13.1%;

  @media (max-width: $width-desktop) {
    width: auto;
    padding: 0 3%;
  }
}

.footer__main-info {
  padding-right: 13.1%;

  @media (max-width: $width-desktop) {
    padding: 0;
  }
}

.footer__social {
  padding-left: 13.1%;
  padding-bottom: 3%;

  @media (max-width: $width-desktop) {
    padding: 0;
  }
}
