.site {
  padding-right: 4%;
  padding-bottom: 3%;

  width: 70%;

  @media (width: $width-desktop-pattern) {
    width: 82%;
  }


  h2 {
    @include text-sets(15px, 16px);
    text-transform: uppercase;
    margin-bottom: 4%;
    padding-left: 2%;


    @media (max-width: $width-desktop) {
      margin-bottom: 10%;
    }

    @media (max-width: $width-laptop) {
      display: none;
    }
  }

  @media (max-width: $width-desktop) {
    width: auto;
    min-width: 294px;
    padding-right: 0;
  }

  @media (max-width: $width-laptop) {
    width: 100%;
    border-bottom: 1px solid rgba(#626962, 0.2);
    padding: 0;
  }
}

.site__parts {
  @include list-refresh;
  column-count: 2;
  padding-left: 3%;
  padding-right: 9%;

  @media (max-width: $width-desktop) {
    height: auto;
    padding-right: 0;
    column-count: unset;
  }

  @media (max-width: $width-laptop) {
    padding-left: 4%;
    padding-bottom: 8%;
  }
}

.site__part {
  a {
    @include set-mono-text(15px, 21px);
    color: #1b2d37;
    padding-right: 27px;
    display: inline-block;
    vertical-align: unset;

    @include set-hover(#1b2d37);
    min-width: 95px;
    height: 24px;
    margin-bottom: -2%;

    @media (max-width: $width-desktop) {
      margin-bottom: -1%;
    }
  }

  line-height: 21px;
}
