.tab {
  @media (max-width: $width-laptop) {
    &--closed {
      .tab__content {
        display: none;
      }

      .tab__button {
        background-image: url("../img/plus.svg");
        height: 16px;
      }
    }
  }
}

.tab__toggle {
  @media (max-width: $width-laptop) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    margin-top: 9%;
    padding: 0 5% 8% 1%;
  }
}

.tab__button {
  display: none;
  background-color: transparent;
  border: none;
  width: 16px;
  height: 6px;
  background-repeat: no-repeat;
  cursor: pointer;

  @include set-opacity;

  @media (max-width: $width-laptop) {
    display: block;
    background-image: url("../img/minus.svg");
  }
}

.tab__content {
  display: block;
}
